.div {
    position: absolute;
    background-color: green;
  width: 10px;
  height: 10px;
  font-size: 18;
  font-weight: bold;
  border:5px solid black;
  padding: 30px;

}

.div1 {
    position: absolute;
    background-color: yellow;
  width: 10px;
  height: 10px;
  border: 5px solid black;
  padding:30px;
  margin-left:85px;
  margin-top: 50px;
  }
  .div2 {
    position: absolute;
    background-color: green;
  width: 10px;
  height: 10px;
  border: 5px solid black;
  padding:30px;
  margin-left:168px;
  }
  .div3 {
    position: absolute;
    background-color: yellow;
  width: 10px;
  height: 10px;
  border: 5px solid black;
  padding:30px;
  margin-left:251px;
  margin-top: 50px;
  }
  .div4 {
    position: absolute;
    background-color:green;
  width: 10px;
  height: 10px;
  border: 5px solid black;
  padding:30px;
  margin-left:334px;
  
  }
  .div5 {
    position: absolute;
    background-color: yellow;
  width: 10px;
  height: 10px;
  border: 5px solid black;
  padding:30px;
  margin-left:415px;
  margin-top: 50px;
  }
  .div6 {
    position: absolute;
    background-color: green;
  width: 10px;
  height: 10px;
  border: 5px solid black;
  padding:30px;
  margin-left:499px;
  }
  .div7 {
    position: absolute;
    background-color: yellow;
  width: 10px;
  height: 10px;
  border: 5px solid black;
  padding:30px;
  margin-left:585px;
  margin-top: 50px;
  }
  .div8 {
    position: absolute;
    background-color: green;
  width: 10px;
  height: 10px;
  border: 5px solid black;
  padding:30px;
  margin-left:676px;
  
  }
  .div9 {
    position: absolute;
    background-color: yellow;
  width: 10px;
  height: 10px;
  border: 5px solid black;
  padding:30px;
  margin-left:761px;
  margin-top: 50px;
  }